* {
	box-sizing: border-box;
}
body{
	background-size: 100%;
	background-color: #333333;
}
#main{
	background-color: #111111;
	background-size: 100%;
}
#header{
	background-color: #445544;
	background-size: 15%;
}
#subnav{
	background-size: 5%;
}
#posts{
	background-size: 70%;
}
.container{
	background-size: 70%;
}
.aside{
	background-size: 30%;
}
#footer{
	background-size: 10%;
}

#box1{
	margin: 0%;
	padding: 0%;
	max-width: 33%;
	max-height: 25em;
	float: left;
}
#box2{
	margin: 0% 0% 0% 2% ;
	padding: 0%;
	max-width: 33%;
	max-height: 25em;
	float: left;
}
.dttop{
	background-color: #FFDDFF;
	margin: 0%;
	padding: 1% 0% 0% 1%;
	color: #293333;
	max-width: 100%;
	text-align: center;
}
.dttop > p{
	font-size: 2em;
	margin: 0%;
	padding: 0%;
	display: inline-block;
}
.dttopicons{
	margin: 2% 0% 0% 0%;
	padding: 0%;
	display: inline-block;
	float: right;
	min-width: 35%;
	min-height: 1em;
}
.dttopicons > .fa:first-child{
	color: blue;
	margin: 0% 0% 0% 0%;
	float: left;
	padding: 0% 4% 0% 0%;
}
.dttopicons > .fa:nth-child(2){
	color: red;
	margin: 0% 0% 0% 0%;
	float: left;
	padding: 0% 0% 0% 4%;
}
.dttopicons > .fa > span{
	margin: 0% 0% 0% 3%;
	font-size: 0.7em;
}
#izappos{
	background-image: url("http://i.imgur.com/1m6gOZ8.png?1");
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-width: 100%;
	min-height: 15em;
	display: block;
	margin: 0%;
}
#iuber{
	background-image: url("http://i.imgur.com/Mnj1udJ.jpg?1");
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-width: 100%;
	min-height: 15em;
	display: block;
	margin: 0%;
}
.dttom{
	background-color: #FFFFFF;
	margin: 0%;
	padding: 2% 2.6% 1% 2.6%;
	color: #293333;
	max-width: 100%;
}
.dttomicons{
	margin: 4% 0% 0% 0%;
	max-height: 2em;
	min-height: 1.5em;
	max-width: 100%;
}
.dttomicons > a > .fa{
	margin: 0.6% 1.6% 0% 0%;
	float: left;
	display: inline-block;
	text-decoration: none;
	color: black;
}
h2{
	margin: 0%;
	padding: 0%;
	font-size: 1.2em;
	text-align: left;
	margin: 0% 0% 0% 0%;
}
.dttom > .person{
	padding: 0%;
	margin: 0% 0% 3% 0%;
}
.dttom > .person > .fa{
	font-size: 0.88em;
}
.dttom > .person > .fa > span{
	font-size: 0.7em;
	margin: 0% 0% 0% 3%;
}
.dttom > p{
	margin: 0%;
	padding: 0%;
	font-size: 0.8em;
	display: inline-block;
}
.dttom > p > a > .details {
	font-weight: bolder;
	color: black;
	text-decoration: none;
}
.savorapp{
	min-width: 1%;
	min-height: 1em;
	margin: 0%;
	padding: 0%;
}
.savorapp p:first-child{
	border: 0.1em solid black;
	margin: 0% 2% 0% 1%;
	float: right;
	font-size: 1em;
	padding: 0.1% 0.6% 0.1% 0.6%;
	color: black;
}
.savorapp p:nth-child(2){
	border: 0.1em solid black;
	margin: 0% 0% 0% 0%;
	float: right;
	font-size: 1em;
	padding: 0.1% 0.6% 0.1% 0.6%;
}